<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
              <p></p>
                <ul class="nav list-group">

                </ul>
            </div>
        </div>
        <div id="main-wrapper" class="col-md-10 pull-right">
            <div id="main">
              
                <h3>Admin</h3>
              
              <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
              <p>Lore Praesent sed dolor euismod, condimentum ante quis, molestie orci
              . Ut vel venenatis nunc, ut porta lacus. Donec ligula felis, tristique ut sollici
              tudin eget, commodo vel augue. Maecenas quis enim ac elit bibendum tristique. Suspe
              ndisse a vestibulum dui. Donec molestie enim vel ornare fermentum. Etiam suscipit,
              velit et dapibus dapibus, metus tellus convallis nulla, sit amet pharetra magna nun
              c id mauris. In eget nunc eleifend, aliquet urna sed, viverra ipsum. Quisque frin
              gilla non eros vitae sollicitudin. Pellentesque non nisl est. Suspendisse potenti.</p>
            </div>
        </div>
</div>
