<%# add navigation links to this file %>      
  <li><%= link_to 'Admissions', admissions_path, class: 'glyphicon glyphicon-education gi-2x' %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path, class: 'fa fa-group fa-1x' %></li>
<% end %>
